:root{
    --dark-teal: #006A71;
    --teal: #48A6A7;
    --light-teal: #9ACBD0;
    --light: #fffdf8;
    --bg: #e0e0e0;
}

body{
    background-color: var(--bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    background-color: var(--light);
    box-shadow: 1px 5px 10px black;
    border-radius: 15px;
    padding: 15px;
    margin: 100px auto;
    width: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container h1, p{
    color: var(--teal);
}

.container p:nth-of-type(1){
    margin-bottom: 40px;
}

.operate{
    display: flex;
    column-gap: 10px;
}

.container input{
    background-color: var(--bg);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    width: calc(75%);
}

.container button{
    background-color: var(--teal);
    border: none;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    width: calc(25%);            
}

.container button:hover{
    background-color: white;
    color: var(--teal);
    border: 1px solid black;
}

#error{
    text-align: center;
}
